Library/Artifacts/28/2871a614f7d47e4de9341dfd91c11894
Library/
Logs/
UserSettings/
Unity-Individual-Game-Development.sln
Assets/Model.meta
Assets/New Terrain 3.asset
Assets/New Terrain 3.asset.meta
Assets/Model/Akai_MAT.mat
Assets/Model/Akai_MAT.mat.meta
Assets/Model/Animations.meta
Assets/Model/Body_MAT.mat
Assets/Model/Body_MAT.mat.meta
Assets/Model/Erika Archer.fbx
Assets/Model/Erika Archer.fbx.meta
Assets/Model/Erika_Archer_Clothes_diffuse.png
Assets/Model/Erika_Archer_Clothes_diffuse.png.meta
Assets/Model/Erika_Archer_Clothes_normal.png
Assets/Model/Erika_Archer_Clothes_normal.png.meta
Assets/Model/eyelash_MAT.mat
Assets/Model/eyelash_MAT.mat.meta
Assets/Model/EyeSpec_MAT.mat
Assets/Model/EyeSpec_MAT.mat.meta
Assets/Model/FemaleFitA_Body_diffuse.png
Assets/Model/FemaleFitA_Body_diffuse.png.meta
Assets/Model/FemaleFitA_eyelash_diffuse.png
Assets/Model/FemaleFitA_eyelash_diffuse.png.meta
Assets/Model/FemaleFitA_StdNM.png
Assets/Model/FemaleFitA_StdNM.png.meta
Assets/Model/X Bot@Idle.fbx
Assets/Model/X Bot@Idle.fbx.meta
Assets/Model/X Bot@Walking.fbx
Assets/Model/X Bot@Walking.fbx.meta
Assets/Model/Animations/Erika Standing Idle.anim
Assets/Model/Animations/Erika Standing Idle.anim.meta
Assets/Model/Animations/Erika.controller
Assets/Model/Animations/Erika.controller.meta
Assets/Model/Animations/Standing Idle.anim
Assets/Model/Animations/Standing Idle.anim.meta
Assets/Scenes/MixamoScene.unity
Assets/Scenes/MixamoScene.unity.meta
My project/.vsconfig
My project/My project.sln
My project/Assets/DefaultVolumeProfile.asset
My project/Assets/DefaultVolumeProfile.asset.meta
My project/Assets/InputSystem_Actions.inputactions
My project/Assets/InputSystem_Actions.inputactions.meta
My project/Assets/Scenes.meta
My project/Assets/Settings.meta
My project/Assets/UniversalRenderPipelineGlobalSettings.asset
My project/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
My project/Assets/War.meta
My project/Assets/Scenes/SampleScene.unity
My project/Assets/Scenes/SampleScene.unity.meta
My project/Assets/Settings/Lit2DSceneTemplate.scenetemplate
My project/Assets/Settings/Lit2DSceneTemplate.scenetemplate.meta
My project/Assets/Settings/Renderer2D.asset
My project/Assets/Settings/Renderer2D.asset.meta
My project/Assets/Settings/Scenes.meta
My project/Assets/Settings/UniversalRP.asset
My project/Assets/Settings/UniversalRP.asset.meta
My project/Assets/Settings/Scenes/URP2DSceneTemplate.unity
My project/Assets/Settings/Scenes/URP2DSceneTemplate.unity.meta
My project/Assets/War/Slime Enemy - Pixel Art.meta
My project/Assets/War/Sprites.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation.meta
My project/Assets/War/Slime Enemy - Pixel Art/README.txt
My project/Assets/War/Slime Enemy - Pixel Art/README.txt.meta
My project/Assets/War/Slime Enemy - Pixel Art/Scenes.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death (No flash) - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death (No flash) - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death (No flash) - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Blue/Blue Death (No flash) - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death (No flash) - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death (No flash) - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death (No flash) - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Green/Green Death (No flash) - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death (No flash) - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death (No flash) - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death (No flash) - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Death/Red/Red Death (No flash) - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt (No flash) - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt (No flash) - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt (No flash) - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Blue/Blue Hurt (No flash) - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt (No flash) - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt (No flash) - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt (No flash) - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Green/Green Hurt (No flash) - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt (No flash) - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt (No flash) - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt (No flash) - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Hurt/Red/Red Hurt (No flash) - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Blue.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Green.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Red.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Blue/Blue Idle - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Blue/Blue Idle - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Blue/Blue Idle - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Blue/Blue Idle - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Green/Green Idle - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Green/Green Idle - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Green/Green Idle - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Green/Green Idle - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Red/Red Idle - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Red/Red Idle - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Red/Red Idle - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Idle/Red/Red Idle - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Down - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Down - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Land - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Land - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Start-up - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Start-up - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump To Fall - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump To Fall - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Up - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Blue/Blue Jump Up - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Down - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Down - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Land - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Land - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Start-up - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Start-up - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump To Fall - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump To Fall - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Up - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Green/Green Jump Up - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Death (No Flash).prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Death (No Flash).prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Death.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Death.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Hurt (No Flash).prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Hurt (No Flash).prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Hurt.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Hurt.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Idle.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Idle.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Jump.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Blue/Blue Jump.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Death (No Flash).prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Death (No Flash).prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Death.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Death.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Hurt (No Flash).prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Hurt (No Flash).prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Hurt.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Hurt.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Idle.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Idle.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Jump.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Green/Green Jump.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Death (No Flash).prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Death (No Flash).prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Death.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Death.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Hurt (No Flash).prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Hurt (No Flash).prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Hurt.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Hurt.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Idle.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Idle.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Jump.prefab
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Prefabs/Red/Red Jump.prefab.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump - Controller.controller
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump - Controller.controller.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Down - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Down - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Land - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Land - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Start-up - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Start-up - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump To Fall - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump To Fall - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Up - Animation.anim
My project/Assets/War/Slime Enemy - Pixel Art/Animation/Jump/Red/Red Jump Up - Animation.anim.meta
My project/Assets/War/Slime Enemy - Pixel Art/Scenes/Demo.unity
My project/Assets/War/Slime Enemy - Pixel Art/Scenes/Demo.unity.meta
My project/Assets/War/Sprites/Death.meta
My project/Assets/War/Sprites/Hurt.meta
My project/Assets/War/Sprites/Idle.meta
My project/Assets/War/Sprites/Jump.meta
My project/Assets/War/Sprites/Death/Blue.meta
My project/Assets/War/Sprites/Death/Green.meta
My project/Assets/War/Sprites/Death/Red.meta
My project/Assets/War/Sprites/Death/Blue/Sprite Sheet - Blue Death - No Flash.png
My project/Assets/War/Sprites/Death/Blue/Sprite Sheet - Blue Death - No Flash.png.meta
My project/Assets/War/Sprites/Death/Blue/Sprite Sheet - Blue Death.png
My project/Assets/War/Sprites/Death/Blue/Sprite Sheet - Blue Death.png.meta
My project/Assets/War/Sprites/Death/Green/Sprite Sheet - Green Death - No Flash.png
My project/Assets/War/Sprites/Death/Green/Sprite Sheet - Green Death - No Flash.png.meta
My project/Assets/War/Sprites/Death/Green/Sprite Sheet - Green Death.png
My project/Assets/War/Sprites/Death/Green/Sprite Sheet - Green Death.png.meta
My project/Assets/War/Sprites/Death/Red/Sprite Sheet - Red Death - No Flash.png
My project/Assets/War/Sprites/Death/Red/Sprite Sheet - Red Death - No Flash.png.meta
My project/Assets/War/Sprites/Death/Red/Sprite Sheet - Red Death.png
My project/Assets/War/Sprites/Death/Red/Sprite Sheet - Red Death.png.meta
My project/Assets/War/Sprites/Hurt/Blue.meta
My project/Assets/War/Sprites/Hurt/Green.meta
My project/Assets/War/Sprites/Hurt/Red.meta
My project/Assets/War/Sprites/Hurt/Blue/Sprite Sheet - Blue Hurt - No Flash.png
My project/Assets/War/Sprites/Hurt/Blue/Sprite Sheet - Blue Hurt - No Flash.png.meta
My project/Assets/War/Sprites/Hurt/Blue/Sprite Sheet - Blue Hurt.png
My project/Assets/War/Sprites/Hurt/Blue/Sprite Sheet - Blue Hurt.png.meta
My project/Assets/War/Sprites/Hurt/Green/Sprite Sheet - Green Hurt - No Flash.png
My project/Assets/War/Sprites/Hurt/Green/Sprite Sheet - Green Hurt - No Flash.png.meta
My project/Assets/War/Sprites/Hurt/Green/Sprite Sheet - Green Hurt.png
My project/Assets/War/Sprites/Hurt/Green/Sprite Sheet - Green Hurt.png.meta
My project/Assets/War/Sprites/Hurt/Red/Sprite Sheet - Red Hurt - No Flash.png
My project/Assets/War/Sprites/Hurt/Red/Sprite Sheet - Red Hurt - No Flash.png.meta
My project/Assets/War/Sprites/Hurt/Red/Sprite Sheet - Red Hurt.png
My project/Assets/War/Sprites/Hurt/Red/Sprite Sheet - Red Hurt.png.meta
My project/Assets/War/Sprites/Idle/Blue.meta
My project/Assets/War/Sprites/Idle/Green.meta
My project/Assets/War/Sprites/Idle/Red.meta
My project/Assets/War/Sprites/Idle/Blue/Sprite Sheet - Blue Idle.png
My project/Assets/War/Sprites/Idle/Blue/Sprite Sheet - Blue Idle.png.meta
My project/Assets/War/Sprites/Idle/Green/Sprite Sheet - Green Idle.png
My project/Assets/War/Sprites/Idle/Green/Sprite Sheet - Green Idle.png.meta
My project/Assets/War/Sprites/Idle/Red/Sprite Sheet - Red Idle.png
My project/Assets/War/Sprites/Idle/Red/Sprite Sheet - Red Idle.png.meta
My project/Assets/War/Sprites/Jump/Blue.meta
My project/Assets/War/Sprites/Jump/Green.meta
My project/Assets/War/Sprites/Jump/Red.meta
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Down.png
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Down.png.meta
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Land.png
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Land.png.meta
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Start-up.png
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Start-up.png.meta
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump to Fall.png
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump to Fall.png.meta
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Up.png
My project/Assets/War/Sprites/Jump/Blue/Sprite Sheet - Blue Jump Up.png.meta
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Down.png
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Down.png.meta
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Land.png
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Land.png.meta
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Start-up.png
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Start-up.png.meta
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump to Fall.png
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump to Fall.png.meta
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Up.png
My project/Assets/War/Sprites/Jump/Green/Sprite Sheet - Green Jump Up.png.meta
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Down.png
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Down.png.meta
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Land.png
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Land.png.meta
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Start-up.png
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Start-up.png.meta
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump to Fall.png
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump to Fall.png.meta
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Up.png
My project/Assets/War/Sprites/Jump/Red/Sprite Sheet - Red Jump Up.png.meta
My project/Packages/manifest.json
My project/Packages/packages-lock.json
My project/ProjectSettings/AudioManager.asset
My project/ProjectSettings/ClusterInputManager.asset
My project/ProjectSettings/DynamicsManager.asset
My project/ProjectSettings/EditorBuildSettings.asset
My project/ProjectSettings/EditorSettings.asset
My project/ProjectSettings/GraphicsSettings.asset
My project/ProjectSettings/InputManager.asset
My project/ProjectSettings/MemorySettings.asset
My project/ProjectSettings/MultiplayerManager.asset
My project/ProjectSettings/NavMeshAreas.asset
My project/ProjectSettings/NetworkManager.asset
My project/ProjectSettings/PackageManagerSettings.asset
My project/ProjectSettings/Physics2DSettings.asset
My project/ProjectSettings/PresetManager.asset
My project/ProjectSettings/ProjectSettings.asset
My project/ProjectSettings/ProjectVersion.txt
My project/ProjectSettings/QualitySettings.asset
My project/ProjectSettings/ShaderGraphSettings.asset
My project/ProjectSettings/TagManager.asset
My project/ProjectSettings/TimeManager.asset
My project/ProjectSettings/UnityConnectSettings.asset
My project/ProjectSettings/URPProjectSettings.asset
My project/ProjectSettings/VersionControlSettings.asset
My project/ProjectSettings/VFXManager.asset
My project/ProjectSettings/XRSettings.asset
